/** The triangle function makes it easier to create a css triangle

    this function takes:
    a direction, size and color and returns a css triangle

    @include triangle();
    => width: 0; 
    => height: 0;
    => border-left: 20px solid transparent;
    => border-right: 20px solid transparent;
    => border-bottom: 20px solid transparent;
    => border-top: 20px solid #000;

    @include triangle(left, 5px, #fff);
    => width: 0; 
    => height: 0;
    => border-left: 5px solid transparent;
    => border-right: 5px solid #fff;
    => border-bottom: 5px solid transparent;
    => border-top: 5px solid transparent;
*/

@mixin triangle ($direction: "down", $size: 20px, $color: #000) {
    width: 0; 
    height: 0;
    border-left: $size solid #{setTriangleColor($direction, "left", $color)};
    border-right: $size solid #{setTriangleColor($direction, "right", $color)};
    border-bottom: $size solid #{setTriangleColor($direction, "bottom", $color)};
    border-top: $size solid #{setTriangleColor($direction, "top", $color)};
}

//Utility function to return the relevant colour depending on what type of arrow it is
@function setTriangleColor($direction, $side, $color) {
 
    @if $direction == "left" and $side == "right" 
    or  $direction == "right" and $side == "left" 
    or $direction == "down" and $side == "top" 
    or $direction == "up" and $side == "bottom" {
        @return $color;
    } @else {
        @return "transparent";
    }
 
}
/** The grid-margin function makes it easier to
    set only the margin property when working with a grid

    It takes the amount of columns you want, followed by
    the size of a column (default: 54) and
    the size of a gutter (default 30)

    margin-right: grid-margin(5);
    => margin-right: 420px

    margin-right: grid-margin(5, 10, 2)
    => margin-right: 60px;

*/

@function grid-margin($numCols, $col: 54, $gutter: 30) {
    @return #{($numCols * $col) + ($numCols * $gutter)}px;
}
/** The grid-width function makes it easier to
    set only the width property when working with a grid

    It takes the amount of columns you want, followed by
    the size of a column (default: 54) and
    the size of a gutter (default 30)

    width: grid-width(5);
    => width: 390px

    width: grid-width(5, 10, 2)
    => width: 58px;

*/

@function grid-width($numCols, $col: 54, $gutter: 30) {
    @return #{($numCols * $col) + (($numCols - 1) * $gutter)}px;
}
/** The em function is used to determine the em value
    for a property when you want to start using ems on sites

    It takes the pixel value, and an optional context value,
    it returns the correct em value

    width: em(300);
    => width: 18.75em

    width: em(300, 10)
    => width: 30em;
*/

@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em
}
/** Better Font-size
    this mixin relies on the html font-size to be 10px
    
    it takes the font value desired,
    and returns the font-size declarations in rems and px

    @include font-size(15)
    => font-size: 15px;
    => font-size: 1.5rem;
*/

@mixin font-size($sizeValue: 1.6) {
    font-size: $sizeValue + px;
    font-size: ($sizeValue / 10) + rem;
}
/** The placeholder-text-color function lets you change
    the color of the placeholder text in all browsers
    that support placeholder

    It takes a value of a color, hex rgb, hsl and
    outputs the necesarry vendor prefixed rules

    @include placeholder-text-color(#333);
    =>  ::-webkit-input-placeholder {
    =>    color: #333; 
    =>  }
    =>  :-moz-placeholder { 
    =>    color: #333;
    =>  }
    =>  ::-moz-placeholder { 
    =>    color: #333;
    =>  }
    =>  :-ms-input-placeholder {  
    =>    color: #333;
    =>  }

*/

@mixin placeholder-text-color ($color) {
    ::-webkit-input-placeholder {
      color: $color; 
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $color;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      color: $color;
    }
    :-ms-input-placeholder {  
      color: $color;
    }
}