@import 'compass';
@import 'compass/reset';
@import 'singularitygs';

@import "mixins";

@import "vendor/icon-font";
@import "vendor/bootstrap";
@import "vendor/bootstrap-theme";


$breakpoint-to-ems: true;

/* 
 *  Grid
 */

$grids: 12;
$gutters: 1/3;



/* 
 *  Custom Variables
 */

$pink: #8d2344;
$grey: #eeeeef;

$georgia: Georgia, serif;
$open: 'Open Sans', arial, sans-serif;

body {
  font-family: $open;
  -webkit-font-smoothing: antialiased;
  padding-top: 133px;

  @include breakpoint(max-width 1200px) {
    padding-top: 0;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $georgia;
}

.container {
  max-width: 74.125em;
  margin: 0 auto;


  padding: 0 1em;

  @extend .clearfix;
}

.site-header {
  background: #fff;
  @extend .clearfix;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  @include breakpoint(max-width 1200px) {
    position: static;
  }
}
 
.logo {
  @include grid-span(5);
  margin-top: em(25);

  @include breakpoint(max-width 675px) {
    display: block;
    float: none;
    width: auto;
    clear: both;
    margin: 1em 0;
    text-align: left;
  }

  img {
    max-width: 100%;
  }

}

%fake-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.nav-extras {
  @include grid-span(6, 7);

  background: $grey;

  @include breakpoint(max-width 940px) {
    font-size: .8em;
  }

  @include breakpoint(max-width 675px) {
    margin-bottom: 3em;
  }

  @include breakpoint(max-width 570px) {
    width: 100%;
    margin: 0 auto 1.5em;
    float: none;

    font-size: .8em;

    li {
      padding: .75em 0;
    }
  }

  ul {
    @extend %fake-list;
  }

  li {
    display: inline-block;
    padding: .5em 0;
    width: 49%;

    &:first-child {
      a { 
        border-right: 1px solid #d2d3d5;
      }
    }
  }

  a {
    display: block;

    color: $pink;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    &:hover, &.current, &:focus {
      text-decoration: none;
      color: lighten($pink, 10%);
    }

    [class^="icon-"],
    [class*=" icon-"] {
      color: #4d4b4b;
      margin-right: .75em;
    }

  }
}

.nav-main {
  @include grid-span(6, 7);
  clear: right;
  margin-top: em(50);

  @include breakpoint(max-width 940px) {
    font-size: .8em;
  }

  @include breakpoint(max-width 675px) {
    width: 75%;
  }

  @include breakpoint(max-width 500px) {
    width: 100%;
    font-size: .8em;
  }

  .nav-list {
    text-align: justify;

    &:after {
      content: '';
      display: inline-block;
      height: 0;
      width: 100%;
    }
  }

  a {
    color: #1d181a;
    font-weight: bold;
    text-transform: uppercase;

    &[data-toggle] {
      &:after {
        content: '\f0d7';
        font-family: 'fontawesome';
        color: $pink;
        margin-left: .35em;
      }
    }

    &:hover, &.current, &:focus {
      text-decoration: none;
      color: $pink;
    }
  }


}

.dropdown-menu {
  left: -1.3em;
  padding: .75em 0;
  min-width: 15em;

  background: $grey;

  @include border-radius(0);
  @include box-shadow(none);
  border: none;

  > li > a {
    padding: 1em 2em;

    font-weight: bold;
    
    @include breakpoint(max-width 940px) {
      font-size: .8em;
    }

    &:hover, &.current, &:focus {
      background: none;
      color: $pink;
    }
  }
}

.nav-list-item {
  display: inline-block;
}

.container-nav-search-share {
  position: relative;

  @include breakpoint(max-width 600px) {
    padding: 0;
  }
}


.nav-search-share {
  @extend .clearfix;
  position: absolute;
  right: 0;
  margin-left: 0;
  padding: 15px;
  width: 180px;


  &.show-form {
    margin-left: 113px;
    width: 500px;
  }

  button {
    float: left;
    border: 0;
    padding: 0;
    background: none;
  }

  .nav-list {
    float: left;
    margin: 0;
    padding: 0;
  }

  .nav-list-item {
    float: left;
    margin: 0 15px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  [class^="icon-"], [class*=" icon-"] {
    border-radius: 50%;
  }

  .icon-facebook, .icon-flickr {
    background: #0f1512;
    color: #bf2e5c;
  }

  .icon-search {
    display: inline-block;
    padding: 12px;
    font-size: 1.1em;
    background: #bf2e5c;
    color: #060708;
  }

  .icon-facebook {
    position: relative;
    top: 10px;
    font-size: 24px;
    border: 7px solid #bf2e5c;

    &:before {
      content: "\e603";
      position: relative;
      top: -2px;
      left: -1px;
      padding-right: 1px;
    }

    &:after {
      content: "";
      position: absolute;
      left: -8%;
      top: -6%;
      height: 110%;
      width: 112%;
      border: 4px solid #bf2e5c;
      border-radius: 50%;
    }
  }

  .icon-flickr {
    position: relative;
    top: 8px;
    border: 6px solid #bf2e5c;
    font-size: 1.7em;

    &:after {
      content: "";
      position: absolute;
      left: -5%;
      top: -5%;
      height: 110%;
      width: 110%;
      border: 3px solid #bf2e5c;
      border-radius: 50%;
    }
  }

  a:hover, a:focus, a:active, button:hover, button:focus, button:active {
    text-decoration: none;

    .icon-search {
      background: #fff;
    }

    .icon-facebook {
      border: 7px solid #fff;
      color: #fff;

      &:after {
        content: "";
        position: absolute;
        left: -8%;
        top: -6%;
        height: 110%;
        width: 112%;
        border: 4px solid #fff;
        border-radius: 50%;
      }
    }

    .icon-flickr {
      border: 6px solid #fff;
      color: #fff;

      &:after {
        content: "";
        position: absolute;
        left: -5%;
        top: -5%;
        height: 110%;
        width: 110%;
        border: 3px solid #fff;
        border-radius: 50%;
      }
    }

  }

  @include breakpoint(max-width 1200px) {
    &.fixed-nav {
      right: 0;
      left: auto;
      margin-left: 0;
    }
  }

  @include breakpoint(max-width 600px) {
    position: static;
    background: rgb(15, 21, 18);

    .nav-list {
      float: right;
    }

    &.fixed-nav {
      position: static;
      width: auto;
    }
  }
}

.form-search {
  display: none;
  float: right;
  background: 0;
}

.show-form {
  .form-search {
    margin: 0 0 0 15px;
    width: 300px;
  }
}

.form-search-text {
  background: rgba(15, 21, 18, .85);
  border: 0;
  padding: 20px 6px 4px;
  width: 100%;
  text-transform: uppercase;
  font-size: .8em;
  color: #eee;
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.list-link {

}

.hero {
  .container {
    position: relative;
  }
}

.hero-img {
  width: 100%;
  height: auto;
}

.hero-video {
  vertical-align: middle;
}

.hero-text {
  position: absolute;
  right: 0;
  bottom: 1em;
  padding: .25em 1em .45em;
  background: rgba(141, 34, 68, .87);

  color: #fff;
  font-family: $georgia;
  font-size: em(46);
  text-align: right;
  font-style: italic;

  strong {
    display: block;
    text-transform: uppercase;
    font-size: em(27, 46);
    font-weight: normal;
    font-style: normal;
    font-family: $open;
    letter-spacing: 1px;
  }

  @include breakpoint(max-width 850px) {
    font-size: em(38);
  }

  @include breakpoint(max-width 650px) {
    font-size: em(24);
  }

  @include breakpoint(max-width 400px) {
    font-size: em(18);
  }

}

.page-title {
  @extend .history-title;
}

.hero-heading {
  @include grid-span(7, 6);
  margin-top: .35em;

  font-size: em(61);
  font-weight: bold;
  color: #bebdbd;

  @include breakpoint(max-width 1150px) {
    width: auto;
    margin: 1.5em 0;
    float: none;
    clear: both;
  }
 
  @include breakpoint(max-width 725px) {
    font-size: em(42);
  }
  
  @include breakpoint(max-width 450px) {
    font-size: em(28);
  }

}

.featured {
  @extend .clearfix;

  background: #fff;

  border-bottom: 1px solid #e6e6e7;
}

.auditions {
  @include grid-span(4);
  padding: 1.15em 1.5em;

  @include breakpoint(max-width 1150px) {
    width: 100%;
    float: none;
    clear: both;
    margin: 1em 0;
  }

  background: $pink;

  text-align: left;
}

.auditions-heading {
  margin: 0;

  color: #fff;
  font-family: $georgia;
  font-style: italic;
  font-size: 2.25em;

  .fa {
    margin-right: .15em;
  }

}

.auditions-item {
  color: $grey;
  margin: 1em 0;
  line-height: 1.2;
}

.story {
  @include grid-span(8, 5);
  color: #858383;

  @include breakpoint(max-width 1150px) {
    width: 100%;
    float: none;
    clear: both;
    margin: 1em 0;
  }

  .col-main {
    @include grid-span(4, 1, 8);
    padding: 1.5em 0 0;
    text-align: right;

    @include breakpoint(max-width 810px) {
      @include grid-span(8);
    }

    @include breakpoint(max-width 600px) {
      width: 100%;
      float: none;
      clear: both;
      margin: 1em 0;
      text-align: left;
    }
  }

  .col-pic {
    @include grid-span(2, 5, 8);
    
    @include breakpoint(max-width 810px) {
      @include grid-span(4, 9);
    }

    @include breakpoint(max-width 600px) {
      @include grid-span(8);
      clear: both;
      margin-top: 1em;
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  .col-author {
    @include grid-span(2, 7, 8);

    @include breakpoint(max-width 810px) {
      width: 100%;
      float: none;
      clear: both;
      margin: 1em 0;
      text-align: right;
    }

    @include breakpoint(max-width 600px) {
      @include grid-span(4, 9);
      clear: none;
      text-align: left;
      padding-top: 25%;
    }

    text-align: left;
  }

  .story-author {
    color: #000;
    font-weight: bold;
    font-family: $georgia;
    font-size: 1.1em;
    padding-top: em(90);

    @include breakpoint(max-width 810px) {
      padding-top: 0;
    }
  }

}

.story-title {
  font-family: $georgia;
  font-style: italic;
  font-size: 1.5em;

  strong {
    font-weight: normal;
    color: $pink;
  }

}

.story-text {
  font-size: .875em;
  margin-top: 1.5em;
  line-height: 1.8;

  @include breakpoint(max-width 875px) {
    margin-bottom: 1.5em;
  }
}

.story-link {
  color: $pink;
  text-transform: uppercase;

  @include transition(color .5s);

  &:hover, &.current, &:focus {
    text-decoration: none;
    color: lighten($pink, 35%);

    .icon-uniE606 {
      border-color: lighten($pink, 35%);
    }
  }

  .icon-uniE606 {
    padding: .25em .15em .25em .35em;
    border: 1px solid $pink;
    @include border-radius(em(50));

    @include transition(border .5s);
  }
}

.history {
  text-align: center;
  color: #494d4c;
  font-size: 1.3em;

  @include breakpoint(max-width 1000px) {
    font-size: 1.1em;
  }

  @include breakpoint(max-width 800px) {
    font-size: .9em;
  }

  @include breakpoint(max-width 600px) {
    font-size: .7em;
  }
}

.history-title {
  margin: 0;
  padding: 2em 0 1em 0;

  font-style: italic;
  color: $pink;
  font-size: em(36);
}

.history-text {
  line-height: 1.8;
  font-size: 1.375em;
}

.history-link {
  display: inline-block;
  padding: .4em;
  width: grid-width(4, 70, 30);
  margin: 3em auto;

  background: #fff;

  border: 2px solid $pink;

  font-size: 1.3em;
  color: $pink;
  text-transform: uppercase;

  @include transition(background .5s, color .5s);

  @include breakpoint(max-width 600px) {
    width: 100%;
  }

  &:hover, &.current, &:focus {
    background: $pink;
    color: white;
    text-decoration: none;
  }
}

.donate {
  @extend .history;
}
.donate-title {
  @extend .history-title;
}
.donate-text {
  @extend .history-text;
}

.call-out {
  background: url(../img/chandelier.jpg) center center no-repeat;
  @include background-size(100% auto);

  @include breakpoint(max-width 1175px) {
    font-size: .6em;
  }
  
  @include breakpoint(max-width 750px) {
    font-size: .4em;
  }

  @include breakpoint(max-width 500px) {
    font-size: .2em;
  }

}

.call-out-text {
  padding: 1.2em 0;
  margin: 0;
  font-weight: bold;
  font-size: em(125);
  color: #fff;
  line-height: 1.2;
}

.donate-link {
  @extend .history-link;
}

.newsletter {
  background: $grey;
}

.newsletter-heading {
  padding: 2em 0 1.15em;

  border-bottom: 1px solid #cfcfd0;

  font-size: 1.875em;
  color: #333;
  text-align: center;
  font-style: italic;
}

.newsletter-form {
  width: grid-width(6, 70, 30);
  margin: 3em auto 4.5em;
  @extend .clearfix;
  position: relative;

  @include breakpoint(max-width 650px) {
    width: 100%;
  }
}

.newsletter-signup {
  padding: .4em 3em .4em 1em;
  width: 100%;

  background: #fff;

  border: none;

  color: #333;
  font-size: em(21);
  font-family: $georgia;
  font-style: italic;

  &::-webkit-input-placeholder { color: #ceced2; }
  &:-moz-placeholder { color: #ceced2;}
  &::-moz-placeholder {  color: #ceced2; }
  &:-ms-input-placeholder { color: #ceced2; }

  @include breakpoint(max-width 575px) {
    font-size: 1em;
  }
}

.newsletter-submit {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: .4em 0;
  width: grid-width(2, 70, 30);

  background: $pink;

  border: none;

  font-size: em(21);
  color: #fff;
  font-family: $georgia;
  font-style: italic;
  font-weight: normal;

  @include transition(background .5s);

  @include breakpoint(max-width 575px) {
    font-size: 1em;
    width: grid-width(1.25, 70, 30);
  }

  &:hover, &.current, &:focus {
    background: lighten($pink, 15%);
  }
}


.splash-image {
  background: url(../img/girl-in-tree.jpg) center center no-repeat;
  padding-top: 30%;
  @include background-size(100% auto);
}

.footer-logo {
  display: inline-block;
  margin: 6.25em 0;
}

.address {
  margin: 0 0 2.5em;

  font-size: em(19);
  text-transform: uppercase;
}

.separator {
  margin: 0 .75em;
}

.fine-print {
  a {
    color: $pink;

    &:hover {
      color: lighten($pink, 15%);
    }
  }
}

.site-footer {
  padding-bottom: 8em;

  @include breakpoint(max-width 600px) {
    font-size: .65em;
  }
}

.media {
  .pull-left {
    @include grid-span(4);

    text-align: center;

    @include breakpoint(max-width 600px) {
      width: 100%;
      float: none;
      margin: 1em 0;
    }
  }

  .media-body {
    @include grid-span(8, 5);

    @include breakpoint(max-width 600px) {
      width: 100%;
      float: none;
      margin: 1em 0;
    }
  }
}

.media-object {
  display: inline-block;
  max-width: 90%;
  height: auto;
}

.performer-body {
  text-align: left;
}

.performer-name {
  @extend .history-title;
  padding: 0;
  margin: 0 0 1em 0;
}

.performer {
  margin: 12em 0;

  @include breakpoint(max-width 600px) {
    margin: 8em 0;
  }
}

.performer-details {
  margin: 1em 0;
}

.performer-details-item {
  font-weight: bold;
}

.performer-text {
  line-height: 1.8;
}

.performer-link {
  text-transform: uppercase;
  color: $pink;
  text-decoration: none;

  &:hover, &.current, &:focus {
    text-decoration: none;
    color: lighten($pink, 35%);
  }
}

.social-list {
  text-align: justify;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
  }
}

.social-heading {
  margin: 2em 0;

  color: #AAAAAA;
  font-family: $open;
  font-size: 1.2em;
  font-weight: bold;
}

.social-item {
  display: inline-block;
}

.social-link {
  display: inline-block;
  width: 1em;
  height: 1em;

  background: $grey;

  text-indent: -9999em;
}

.social-link {
  background: center center no-repeat;
  width: em(49);
  height: em(49);
}

.icon-facebook {
  background-image: url(../img/ico-facebook.jpg);
}

.icon-twitter {
  background-image: url(../img/ico-twitter.jpg);
}

.icon-linkedin {
  background-image: url(../img/ico-linkedin.jpg);
}

.icon-google {
  background-image: url(../img/ico-gplus.jpg);
}

.icon-tumblr {
  background-image: url(../img/ico-tumblr.jpg);
}

.icon-youtube {
  background-image: url(../img/ico-youtube.jpg);
}

