<!-- Performer List -->
<ul class="performers">
    <li class="media performer">
        <div class="performer-image pull-left">
            <img src="img/performer.jpg" alt="" class="media-object">
        </div>
        <div class="performer-body media-body">
            <h2 class="performer-name media-heading">Julie Adams</h2>
            <ul class="performer-details media-list">
                <li class="performer-details-item">Soprano</li>
                <li class="performer-details-item">Age: 26</li>
            </ul>
            <p class="performer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, atque, quo, nobis iste et provident culpa delectus vitae libero illo dolorem temporibus nemo! Aspernatur, nobis, delectus facere nihil voluptas mollitia quod autem perferendis corrupti hic error accusamus magnam vel! Reprehenderit!</p>
            <p>
                <a href="^_^" class="performer-link">View Profile</a>
            </p>
        </div>
    </li>
</ul>
<!-- Single Performer -->
<div class="media">
    <div class="pull-left">
        <img src="" alt="" class="media-object">
        <div class="social">
            <h3 class="social-heading">Stay Connected</h3>
            <ul class="social-list">
                <li class="social-item"><a href="" class="social-link icon-facebook"></a></li>
                <li class="social-item"><a href="" class="social-link icon-twitter"></a></li>
                <li class="social-item"><a href="" class="social-link icon-linkedin"></a></li>
                <li class="social-item"><a href="" class="social-link icon-google"></a></li>
                <li class="social-item"><a href="" class="social-link icon-tumblr"></a></li>
                <li class="social-item"><a href="" class="social-link icon-youtube"></a></li>
            </ul>
        </div>
        <ul class="external-links">
            <li class="external-item"><a href="^_^" class="external-link">Artist Website</a></li>
        </ul>
    </div>
    <div class="performer-body media-body">
        <h2 class="performer-name media-heading">Julie Adams</h2>
        <ul class="performer-details media-list">
            <li class="performer-details-item">Soprano</li>
            <li class="performer-details-item">Age: 26</li>
        </ul>
        <p class="performer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, atque, quo, nobis iste et provident culpa delectus vitae libero illo dolorem temporibus nemo! Aspernatur, nobis, delectus facere nihil voluptas mollitia quod autem perferendis corrupti hic error accusamus magnam vel! Reprehenderit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, explicabo.</p>

        <p>
            <a href="^_^" class="performer-link">View Profile</a>
        </p>


        <div class="video">
            
        </div>
    </div>
</div>